@model MvcProject.Models.RestaurantReview

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>New Review</legend>
        <div class="form-group">
            @Html.LabelFor(x => x.Rating)
            @Html.EditorFor(x => x.Rating)
            @Html.ValidationMessageFor(x => x.Rating)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Body)
            @Html.EditorFor(x => x.Body)
            @Html.ValidationMessageFor(x => x.Body)
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.ReviewerName)
            @Html.EditorFor(x => x.ReviewerName)
            @Html.ValidationMessageFor(x => x.ReviewerName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    <div>
        @Html.ActionLink("Back to Index", "Index");
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/otf");
}